body {
    font-family: "Special Elite", serif;
    background-color: rgb(50, 151, 205);
}

head {
    background-color: rgb(0, 215, 208);
    color: rgb(127, 0, 0)
}

head p {
    font-family: fantasy;
    font-weight: 20px;
    letter-spacing: 20px;
    font-size: 40px;
}

#Main_Div {
    font-family: cursive;
    margin-top: 40px;
    width: 1527px;
    font-weight: 200px;
}

.copy_right_footer {
    background-color: rgb(26, 255, 0);
    color: black;
    width: 100%;
    font-size: 20px;
    line-height: 40px;
    text-shadow: 70px;
    Position: fixed;
    Bottom:0;
}